In [2]:
# concatenation of string
firdt_name="Abhinav "
last_name="PAndey"
full_name=firdt_name+last_name
print(full_name)

Abhinav PAndey

In [3]:
print(full_name+str(3))

Abhinav PAndey3

In [5]:
print(full_name * 6 )# printing string multiple times

Abhinav PAndeyAbhinav PAndeyAbhinav PAndeyAbhinav PAndeyAbhinav PAndeyAbhinav PAndey

In [7]:
# user input
# input function always take input in form of string
name=input("Typr user name")
print("hello "+ name)

Typr user nameAbhinav
hello Abhinav

In [8]:
age=input("What is your age")

What is your age24

In [9]:
type(age)

str

In [10]:
int(age)

24

In [16]:
# addition of two numbers
num_1=input("Enter first number")
num_2=input("Enter second number")
total=int(num_1)+int(num_2) # typeconversion of string to int
print(total)

Enter first number4
Enter second number4
8

In [18]:
print("total is ="+str(total)) # addition of same datatypes can be done

total is =8

In [20]:
# declaring many variables in same line
name,age,sex="abhinav",20,"male"

In [26]:
print("hello" +  name + "your age is" +  str(age) + "and your sex is" + sex)

helloabhinavyour age is20and your sex ismale

In [28]:
# two or more inputs in one line
name,age=input("enter your name and age").split()

enter your name and ageabhinav 20

In [29]:
print(name)#    .split() function is used for more inputs in one single line
print(age)

abhinav
20

In [4]:
# string formatting f is used for string formatting
name="abhinav"
age=int(20)
print(f"hello {name} your age is {age}")

hello abhinav your age is 20

In [16]:
# tuples are use for heterogenous datatypes while list is use for homogeneous datatypes
# tuples are immutable datatype in python 
# elements of list are mutable while elements of tuples are immutable
# list[] tuples()
# tuples elements cannot be changed because it is immutable we cannot update the elements of the tuples
# 










a=(1,2,3,4,5)
b=len(a) # length of a tupll
type(a)

tuple

In [2]:
# accessing elements in a tuple with the help of indexing 
a[4]

5

-1

In [5]:
b=(1,2,3,4,5,6,7,8,9)
print(b)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
b[0:]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
b[0:8] # slicing in tuple

(1, 2, 3, 4, 5, 6, 7, 8)

In [8]:
# changing a tuple 
# tuple can be reassigned a different value
print(a)

[-1]

In [9]:
a=(10,20,30,[40,50,60])
a[3][1]=55  # nested tuple
print(a)

(10, 20, 30, [40, 55, 60])

In [10]:
# concatenating two tuples
c=a+b
print(c)

(10, 20, 30, [40, 55, 60], 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
# deleting a tuple
del c
print(c)

NameError: name 'c' is not defined

In [12]:
# tuple methods
a=(1,1,1,1,1,2,3,4,5)
print(a)

(1, 1, 1, 1, 1, 2, 3, 4, 5)

In [13]:
a.count(1) # count the repeated digits

5

In [14]:
a.index(1)

0

In [17]:
# list is mutable in nature
# tuples should be used in iteration statements
# updating a tuple
a=(1,2,3,4)
b=(5,6,7,8)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [18]:
# deleting a tuple
# we cannot delete an individual element of a tuple because it is immutable but we can delete a complete tuple at a time
a=(1,2,3,4,5)
a[1]

2

In [19]:
del a

In [21]:
# accessing the elements of a tuple
a=(1,2,3,4,5)
a[3]

4

In [24]:
a[1:3]

(2, 3)

In [25]:
a[::2] # striding in tuple

(1, 3, 5)

In [27]:
# step argument same as striding
a="Harshit"
a[0:5:2]

'Hrh'

In [28]:
a[5::-1] # reverse of a string

'ihsraH'

In [30]:
# taking user name input and print the output in reverse order
a="Abhinav"
a[8::-1]

'vanihbA'

In [36]:
# reversing a string using string formatting
b=input("Enter your name - ")
reverse=b[::-1]
print(f"reverse string is {reverse}") # printing using string formatting

Enter your name - Abhinav
reverse string is vanihbA

In [37]:
#  String methods
# len()  
# lower()
# upper()
# title() # convert first alphabets of every string in capital letters
# count()
a="abhinav"
print(len(a))

7

In [38]:
print(a.upper()) # for upper case

ABHINAV

In [39]:
print(a.lower()) # for lower case

abhinav

In [42]:
b="AbhInav PaNdey is a good boy"
t=b.title()
print(t)

Abhinav Pandey Is A Good Boy

In [45]:
print(b.count(a))

0

In [50]:
# in first line enter name of user and find its length 
# in second line count specific character
name,char=input("Enter your name and character - ").split()
print(f"length of name is{len(name)}")
print(f" character count is {name.count(char)}")

Enter your name and character - abhinavpandey n
length of name is13
 character count is 2

In [6]:
# same program as above
names,chars=input("Enter your name and char - ").split()
print(f"length of the names is {len(names)}")
print(f" character count is {names.count(chars)}")

Enter your name and char - abhinavpandey n
length of the names is 13
 character count is 2

In [13]:
# strip method
# for removing left spaces lstrip()method
# for removing right spaces rstrip()method
# for removing spaces strip()method
name="      harshit    "
dots=".............."
print(name+dots)
print(name.lstrip()+dots)
print(name.rstrip()+dots)
print(name.strip()+dots)

      harshit    ..............
harshit    ..............
      harshit..............
harshit..............

In [1]:
#replace() method
#find() method
string="she is beautiful and she is a good dancer"
print(string.replace("she","he"))

he is beautiful and he is a good dancer

In [4]:
# find() method
print(string.find("is"))

NameError: name 'string' is not defined

In [4]:
# centre method for adding special symbols in left and right of the string
name="harshit"
# **harshit**
print(name.centre(9,"*"))

AttributeError: 'str' object has no attribute 'centre'

In [5]:
# strings are immutable
string="Abhinav"
print(string.replace('A','n'))

nbhinav

In [8]:
# if condition
# code 
age=input("Enter your age   ")
age=int(age)
if(age>=14):
 print("you are above 14")

Enter your age   34
you are above 14

In [10]:
# pass statement if you dont want to write anything in if statement
x=18
if x>18:
    pass

In [15]:
# if else statement if and else should be under the same line below each other
age=input("Enter your age ")
age=int(age)
if(age>=14):
    print("you are allowed to play")
else:
        print("You are not allowed to play")

Enter your age 12
You are not allowed to play

In [21]:
winning_number="45"
winning_number=int(winning_number)
num=input("Enter the number ")
num=int(num)
if(num == winning_number):
    print("you win")
else: 
    print("you lose")

Enter the number 67
you lose

In [25]:
# and ,or operator
name='abc'
age=19
if name == 'abc' or age==23:
    print("condition true")
else:
    print("condition false")

condition true

In [2]:
# sets in python
# how to create sets
# python set operations
# Accessing set elements
# finding the length of set
# adding/updating sets
# removing /deleting elements
# union , intersection and difference of sets
# union
# intersection
# difference



# set is basically a datastructure consisting of unordered elements,unique elements,unindexed elements
# order of data doesnt matter 
a={1,4,2,4,'aaa','abc',9,2} # differnet datatypes
b=set([1,4,3,'abc',87]) # set constructor
print(a)
print(b)
# unique data elements to be there

{1, 2, 4, 9, 'aaa', 'abc'}
{1, 3, 4, 87, 'abc'}

In [3]:
c=set()
print(c)

set()

In [4]:
# for creating sets use curly braces
my_set={1,'s',7,8}
len(my_set)

4

In [5]:
# set elements cannot be accessed using the index number
# you can access the elements of a set by looping through it
a={1,5,6,'f',(1,2,3),"hello"}
for x in a:
    print(x) # accessing the elements of a set

1
5
6
hello
f
(1, 2, 3)

In [8]:
# adding elements in a set
a.add(3)
a

{(1, 2, 3), 1, 3, 5, 6, 'f', 'hello'}

In [18]:
# remove elements of set
# remove() removes the element from set specified as parameter
# discard() used when you want to remove an element when you are not sure if its actually present in the set or not if element is not present this will not show any error
# pop() used when you want to remove a random element from the set
a={1,5,6,'f',(1,2,3),"hello"}
print(a.remove('hello'))
print(a)

None
{1, 5, 6, 'f', (1, 2, 3)}

In [5]:
# list in python
courses=["history","math","physics","compsci"]
courses.append("art") # for adding any onject in a list
print(courses) # in list for adding any object we use append function 
courses.insert(0,'art') # for inserting 'art' at zeroth position
print(courses)

['history', 'math', 'physics', 'compsci', 'art']
['art', 'history', 'math', 'physics', 'compsci', 'art']

In [12]:
# loops in python
# while loop and for loop
print(10 * "abhinav")

abhinavabhinavabhinavabhinavabhinavabhinavabhinavabhinavabhinavabhinav

In [2]:
i=1
while i<=5:
    print("abhinav")
    i=i+1

abhinav
abhinav
abhinav
abhinav
abhinav

In [3]:
i=5
while(i>=1):
    print("abhinav")
    i=i-1

abhinav
abhinav
abhinav
abhinav
abhinav

In [7]:
# find whether a particular character is present in a string or not
name="abhinav"
print( name.find('a',2)) # find method tells about the index of a character in a string

5

In [14]:
# in keyword used to check whethwe a element is present in a string or not
if 'p' in name:
    print("yes")
else:
        print("no")

no

In [2]:
# if el54 if 
# show ticket pricing
# 1 to 3(free)
# 4 to 10(150)
# 13 to 60(250)
# above 60(200)
age=int(input("Enter the age  "))
if(age<=3):
    print("price is free")
elif 0<age<=3:
    print("price is 150")
elif 13<age<=60:
    print("price is 250")
else:
    print("price is 200")

Enter the age  76
price is 200

In [4]:
# sum of numbers from 1 to 10 using while loop 
s=0
i=1
while(i<=10):
    s=s+i
    i=i+1
    print(s)

1
3
6
10
15
21
28
36
45
55

In [7]:
# exercise one of three
# sum of n natural numbers
# ask a user for natural number(n)
# print total from 1 to n
s=0
n=int(input("enter the number  "))
i=1
while(i<=n):
    
 s=s+i
 i=i+1
print(s)

enter the number  10
55

In [20]:
# find sum of digits of entered number
number=(input("Enter the number -"))

i=0
total=0
while i<len(number):
    total=total+int(number[i])
    i=i+1
    print(total)

Enter the number -785786
7
15
20
27
35
41

In [2]:
# dictionary is nothing but key value pair
d1={}
print(type(d1))

<class 'dict'>

In [4]:
d2={"harry":"burger","rohan":"fish","skillf":"roti"} # key value pair called as mappings
print(d2["rohan"])

fish

In [6]:
d2["abhi"]="rat" # adding element in a dictionary
print(d2)

{'harry': 'burger', 'rohan': 'fish', 'skillf': 'roti', 'abhi': 'rat'}

In [10]:
del d2["harry"]
print(d2)

{'skillf': 'roti', 'abhi': 'rat'}

In [11]:
# group of key value pair separated with comma and enclosed with curly braces
# key value are separated with colon
dict={"name":"abhinav","roll_num":43,"dept":"ec"}
print(dict)

{'name': 'abhinav', 'roll_num': 43, 'dept': 'ec'}

In [6]:
# for loop with range function
for i in range(10): # means value of i goes from 0 to 9
    
    print(f"hello world : {i}")

hello world : 0
hello world : 1
hello world : 2
hello world : 3
hello world : 4
hello world : 5
hello world : 6
hello world : 7
hello world : 8
hello world : 9

In [7]:
# sum from 1 to 10
total=0
for i in range(1,11):
    total=total+i
    print(total)

1
3
6
10
15
21
28
36
45
55

In [1]:
# for loop with string
name="harshit"
for i in range(len(name)):
    print(name[i])

h
a
r
s
h
i
t

In [2]:
name="harshit"
for i in name:
    print(i)

h
a
r
s
h
i
t

In [3]:
num=input("Enter a number")
total=0
for i in num:
    total+=int(i)
    print(total)

Enter a number332423
3
6
8
12
14
17

In [1]:
# python as a calculator
print(2+3)

5

In [2]:
print(2+3*4)

14

In [3]:
print(2//4) #  integer division

0

In [4]:
print(2/4) # float division

0.5

In [5]:
print(4//2)

2

In [6]:
print(4/2)

2.0

In [7]:
print(2**3) # for power

8

In [8]:
print(2**0.5) # for finding underrrot

1.4142135623730951

In [9]:
round(2**0.5,4)

1.4142

In [10]:
print(2**3/2*6-4)

20.0

In [11]:
# precedence rule or associative rule
print((2+3)*2)

10

In [12]:
print((2+3)*5/2%6)

0.5

In [13]:
# associativity rule
# left to right
print(5*5/2%6)

0.5

In [15]:
print(2**3**2) # associativitu of eexponents is from right to left

512