In [3]:

print("hello world")#print thre traditional hello world

hello world

In [4]:
#integer
9

9

In [7]:
#float
2.14

2.14

In [6]:
#string
"Hello python"

'Hello python'

In [8]:
#type of 12
type(12)

int

In [9]:
#type of 2.14
type(2.14)

float

In [10]:
type(12.0)

float

In [11]:
type(-1)

int

In [12]:
type(0)

int

In [13]:
type(0.56)

float

In [14]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [15]:
#verify that is an integer
type(2)

int

In [16]:
#convert 2 to a float
float(2)

2.0

In [17]:
#convert integer 2 to a float and check its type
type(float(2))

float

In [18]:
#casting 1.1 to integer will result in loss of information
int(1.1)

1

In [19]:
#convert a string to an integer
int('1')

1

In [20]:
bool(1)

True

In [21]:
bool(0)

False

In [3]:
float(True)

1.0

In [23]:
type(6/2)

float

In [24]:
type(6//2)#this is for an integer division

int

In [25]:
#multiplication operation expression
5*5

25

In [26]:
#division operation expression
7/2

3.5

In [27]:
25//6

4

In [28]:
25/6

4.166666666666667

160/60

In [29]:
160/60

2.6666666666666665

In [1]:
3%2

1

In [2]:
3.56%2

1.56

In [3]:
43+60+16+41

160

In [4]:
50-60

-10

In [5]:
160//60

2

In [6]:
x=67+56    #store the value in variable

In [7]:
print(x)

123

In [8]:
y=x//60 # storing the value in variable

In [9]:
print(y)

2

In [10]:
#name the variables meaningfully
total_min=43+42+47
print(total_min)

132

In [11]:
total_hours=total_min/60 # use good variable names
print(total_hours)

2.2

In [12]:
x=3+2*2
print(x)

7

In [4]:
name="Michael jackson"
print(name)
type(name)

Michael jackson

str

In [2]:
'1 2 3 4 5 6' # digitals and spaces in string

'1 2 3 4 5 6'

In [3]:
'michael'

'michael'

In [5]:
name

'Michael jackson'

In [6]:
print(name[0])

M

In [7]:
print(name[6])

l

In [8]:
print(name[-1])

n

In [9]:
# we can find the length of string
len(name)

15

In [10]:
# slicing in string
print(name[0:4])

Mich

In [11]:
print(name[8:12]) # slicing in string

jack

In [12]:
# stride in string
name[::2]   # 2 indicates we are using every second variable

'Mcaljcsn'

In [13]:
name[0:5:2]

'Mca'

In [14]:
# conacatenation of string
statement=name+"is the best"
print(statement)

Michael jacksonis the best

In [15]:
first_name="Abhinav"
second_name="pandey"
complete_name=first_name+second_name
print(complete_name)  #concatenation of string

Abhinavpandey

In [16]:
3*name

'Michael jacksonMichael jacksonMichael jackson'

In [17]:
4* name

'Michael jacksonMichael jacksonMichael jacksonMichael jackson'

In [18]:
5 * name

'Michael jacksonMichael jacksonMichael jacksonMichael jacksonMichael jackson'

In [19]:
#escape sequence characters
print("Michael jackson \n is the best")

Michael jackson
 is the best

In [20]:
print("Michaeljackson\nis the best ")

Michaeljackson
is the best

In [21]:
#tab use for space
print("Michael jackson \t is the best")

Michael jackson 	 is the best

In [22]:
# include backslash in the string
print("Michael jackson\\is the best")

Michael jackson\is the best

In [23]:
print("Michael jackson \\ is the best")

Michael jackson \ is the best

In [24]:
print("Michael jackson \\n is the best")

Michael jackson \n is the best

In [25]:
print(r"Michael jackson \ is the best")

Michael jackson \ is the best

In [26]:
print(r"Michael jackson \\n is the best")

Michael jackson \\n is the best

In [27]:
# convert all characters in string to upper case
A="Thriller "
B=A.upper()
print(B)

THRILLER

In [28]:
# replace characters in string
A="Michael jackson is the best"
B=A.replace('Michael','eminem')
print(B)

eminem jackson is the best

In [29]:
# finding a word in a string
name="michael jackson"
b=name.find('jack')
print(b)

8

In [30]:
stat="this movie is good i hope youn will also enjoy"
substr="good"
stat.find(substr)

14

In [31]:
# if cannot find the substring
name.find("jasadfasaddf")

-1

In [2]:
A="1"
print(A)

1

In [2]:
A="ABCDEFG"  # slicing in string
b=print(A[0:3])

ABC

In [4]:
E="clockrlelcit"   # striding
f=print(E[0:-1:2])

coklli

In [7]:
A="abhinav"
B=A.upper()
print(B)

ABHINAV

In [1]:
a="Mary had a little lamb ,little lamb Mary had a little lamb its fleece was whitw as snow and everywhere that Mary went"
b=a.replace("Mary","bob")
print(b)# replace function

bob had a little lamb ,little lamb bob had a little lamb its fleece was whitw as snow and everywhere that bob went

In [14]:
# sets in python 
# tuples () immutable
# lists []  mutable
# Dictionaries {}   mutable
# tuple is a combination of different datatypes
# create your first tuple
tuple1=("disco",2,2.0) # a single variable contains different datatypes
print(tuple1)

('disco', 2, 2.0)

In [15]:
print(tuple1[0])

disco

In [16]:
print(tuple1[2])

2.0

In [17]:
print(type(tuple1[1]))

<class 'int'>

In [18]:
# tuples can have a combination of different datatypes all the informations can be stored in a single variable
print(tuple1[-2])

2

In [20]:
# concatenation of tuples
tuple2=tuple1 + ("hard rock",10)
print(tuple2)

('disco', 2, 2.0, 'hard rock', 10)

In [21]:
# slicing in tuples
tuple2[0:3]

('disco', 2, 2.0)

In [22]:
tuple2[3:5]  #  these() shows it id=s tuple

('hard rock', 10)

In [26]:
# sorting
# sorted() is a function whose return type is list
ratings=(0,9,6,5,10,8,9,6,2)
ratingsorted=sorted(ratings)
print(type(ratingsorted))
print(ratingsorted)

<class 'list'>
[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [27]:
# creating a nested tuple
nestedt=(1,2,("pop","rock"),(3,4),("disco",(1,2))))
print(nestedt)

SyntaxError: unmatched ')' (<ipython-input-27-b3851df453ff>, line 2)

In [2]:
# lists in python
# lists are mutable[]
# list is a colection of different objects such as integer,strings and other lists as well
# create a list
L = ["michael jackson",10.1,1982]
print(L)

['michael jackson', 10.1, 1982]

In [3]:
print(L[-3])

michael jackson

In [4]:
# tuples can also be present in the list
K=["michael jackson",10.1,1982,[1,2],("A",1)] # nested list
print(K[3])

[1, 2]

In [5]:
print(K[4])

('A', 1)

In [8]:
print(K[3][1])

2

In [9]:
print(K[4][1])

1

In [10]:
print(K[4][0])

A

In [3]:
print(K[3][5])

NameError: name 'K' is not defined

In [2]:
# program for swapping two numbers without using third variable
a=int(input("Enter value of a   "))
b=int(input("Enter value of b   "))
a=a+b;
b=a-b;
a=a-b;
print(a)
print(b)

Enter value of a   5
Enter value of b   10
10
5

In [2]:
# keywords or reserve words cannot be used as a variable
l=[1,"hello",[1,2,3],True]
print(l)

[1, 'hello', [1, 2, 3], True]

In [4]:
print(l[1:2])

['hello']

In [5]:
x=(1,2,3)
y=(5,6,7)
t=x+y
print(t)

(1, 2, 3, 5, 6, 7)

In [6]:
# sets in python
set_1={"pop","rock","hard rock","pop","soul"}
print(set_1)

{'pop', 'rock', 'hard rock', 'soul'}

In [7]:
# convert list to set

TypeError: unhashable type: 'list'

In [1]:
# tuples get accepted in a set as a value but list is not accepted in a  set as a value
# print the second largest element in that array
# input
# first line contains n
# the second line contains an array of integers separated by a space
# output
# print the runner upp score means the second highest score
n=int(input("enter number of players - "))

enter number of players - 5

In [2]:
# indexing does not work in sets
A=set(["thriller" ,"backinblack" ,"pop"])
A.add("abhinav")
print(A)

{'pop', 'abhinav', 'thriller', 'backinblack'}

In [4]:
A.remove("abhinav")
print(A)

KeyError: 'abhinav'

In [5]:
# sets cannot be created by list
ece={"digital","signal","micro",8,9,5}
print(ece)

{5, 8, 9, 'digital', 'micro', 'signal'}

In [7]:
ece.remove(8)
print(ece) # removing elements in a set

{5, 9, 'digital', 'micro', 'signal'}

In [8]:
ece.discard(9)
print(ece)

{5, 'digital', 'micro', 'signal'}

In [9]:
ece.remove("digital")
print(ece)

{5, 'micro', 'signal'}

In [17]:
# zen of python
# pep 8 coding standards
# intersectiom and union of sets
# intersection can be found using & operator
# difference of set
# difference can be found using the operator .differnce
# a.difference(b)
# check superset and subset
# .issuperset and .issubset method is used
list A=[1,2,2,1]
set B={1,2,2,1}

print(sum(A))

SyntaxError: invalid syntax (<ipython-input-17-491a44e41140>, line 10)

In [20]:
set_1={1,2,3,4}
set_2={5,4,3,2}
set_3=set_1.union(set_2)
print(set_3)

{1, 2, 3, 4, 5}

In [21]:
# dictionary in python
# dictinary is the way of hashing in python
# here we have list of key value pair
# create a dictionary
# key can be tuple or integer

In [3]:
# dictionaries intro {}
# Q - why we use dictionaries?
# A - Because of limitation of lists,lists are not enough to represent
# example

# this list contains user name,age,fav movies, fav tunes
# you can do this is not a good way to do this
# Q - what are dictionaries
#A - unordered collections of data in key : value pair
# how to create dictionaries
user={'name':'Harshit','age':24} # dictionary 
print(user)
print(type(user))

{'name': 'Harshit', 'age': 24}
<class 'dict'>

In [1]:
# second method to create dictionary
user1=dict(name='Harshit',age=24)

In [4]:
# in list use index
# in dictionary you cannot use index
user={'name':'Harshit','age':24}
print(user['name'])
print(user['age'])

Harshit
24

In [3]:
user_info={'name':'harshit','age': 34,'fav_movies':['coco','kimi no na wa'],'fav_tunes':['awakening','fairy tale']}
print(user_info['fav_movies'])

['coco', 'kimi no na wa']

In [5]:
# list in python all 
# list will be always in[]
# myList=["cat","dog","parrot","cow"]
List_of_strings=['cat','dog','cow']
print(List_of_strings)

['cat', 'dog', 'cow']

In [6]:
List_of_lists=[['A',1],[2,3,0],['hi',34],[[4,'H',[6]]]]
print(List_of_lists)

[['A', 1], [2, 3, 0], ['hi', 34], [[4, 'H', [6]]]]

In [7]:
empty_list=[]
print(empty_list)

[]

In [8]:
list_of_num=list(range(10))
print(list_of_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list_of_even=list(range(0,10,2))
print(list_of_even)

[0, 2, 4, 6, 8]

In [10]:
# putting all characters in a list
str2="hello"
str2lst=list(str2)
print(str2lst)

['h', 'e', 'l', 'l', 'o']

In [1]:
# Copy of refernce
# clone by value
A=[1,2,2,1]
B={1,2,2,1}
sum(A)=sum(B)

SyntaxError: cannot assign to function call (<ipython-input-1-1ed9f5842c8c>, line 5)

In [3]:
sample_dict={"[2,4,5]":"1"}

In [4]:
soundtrack_dic={"The Bodyguard":"1992","Saturday":"1977"}
print(soundtrack_dic)

{'The Bodyguard': '1992', 'Saturday': '1977'}

In [4]:
# copy by refernce
# copy by list
a=[1,2,3]
b=a
b is a # it is pointing to the object
print(b) # is function is pointing the objects of that list

[1, 2, 3]

In [5]:
c=a.copy()
c is a # copy is not having the same objects it is not created by refernce
print(c)

[1, 2, 3]

In [6]:
b[0]=5 # here refernce is happening when any one is changed other is also changed
a,b

([5, 2, 3], [5, 2, 3])

In [7]:
c[0]=8 # change made in one is not reflecting in the others
c,a

([8, 2, 3], [5, 2, 3])

In [9]:
# shallow copy
# deep copy
import copy # 
d=copy.copy(a)
d is a

False

In [10]:
e=copy.deepcopy(a)
e is a

False

In [11]:
d[0]=8
d,a

([8, 2, 3], [5, 2, 3])

In [12]:
e[0]=9
e,a

([9, 2, 3], [5, 2, 3])

In [13]:
rating=float(input("Enter rating - "))
if(rating>=8):
    print("amazing")
else:
    print("not good")

Enter rating - 5
not good

In [14]:
year=int(input("enter yesr - "))
if(year<1980):
    print("1980")
elif(year==1991):
    print("1991")
else:
    print("1993")

enter yesr - 1991
1991

In [17]:
x=0
y=1
while(y<x):
    print y
    y=y+1

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(y)? (<ipython-input-17-6217c779ccef>, line 4)

In [19]:
dates=[1982,1980,1973]
N=len(dates)
for i in range(N):
print(dates(i))

IndentationError: expected an indented block (<ipython-input-19-da92c4c06eac>, line 4)

In [20]:
for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [27]:
Genres=['rock','R&B,'soundtrack','soul','pop']
for Genre in Genres:
     print(i.Genre)

SyntaxError: invalid syntax (<ipython-input-27-5d81b8080b21>, line 1)